/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    right: 25px;
    top: 4px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    @apply dark:bg-white bg-slate-800
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {}
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    top: 0px;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    @apply bg-slate-100 dark:bg-slate-600 shadow-xl; 
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 20px 0px 0px 20px;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    @apply dark:text-slate-100 text-slate-800 p-4
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    @apply py-4;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
    left: 0px;
  }